.Cover {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 800px;
    background: white;
    position: relative;
    overflow: hidden;
    &__title {
        margin: 40px;
        font-size: 2rem;
        z-index: 1;
        color: white;
    }
    &__img {
        position: absolute;
        object-fit: fill;
    }
}
